{% extends "user/base.html" %}

{% block page_title %}Proyecto Final Python - Editar Perfil{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-salmon">
            <div class="card-header bg-light">
                <h2 class="text-center text-salmon mb-0">Editar Perfil</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert alert-danger mt-1">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <a href="{% url 'app_user:password_change' %}">Cambiar contraseña</a>
                    
                    <h3>Perfil Adicional</h3>
                    {% for field in profile_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% if field.name == "avatar" %}
                            {% if field.value %}
                                <div class="mb-2">
                                    <img src="{{ field.value.url }}" alt="Avatar" style="max-width: 150px; height: auto; border: 1px solid #ddd; border-radius: 5px;">
                                </div>
                            {% endif %}
                            <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control">
                        {% elif field.name == 'birth_date' %}
                        <input type="date" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|date:'Y-m-d' }}" class="form-control">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.errors %}
                            <div class="alert alert-danger mt-1">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-salmon">Actualizar Perfil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}